@import url(./reset.css);


:root {
    --app-dark-bg: #1a1d28;
    --app-green: #33ab4e;
    --app-purple: #833cff;
    --app-orange: #ff833c;
    --app-blue: #3c57ff;
    --app-blue-hover: #364ee6;
    --app-red: #ff3c57;
    --app-red-hover: #ff2846;
    --app-grey: #bebebe;
    --app-light-white: #f1f1f1;
  }


/* container */


.container {
    width: min(100% - 30px, 1080px);
    margin-inline: auto;
}


html {
    scroll-behavior: smooth;
}

/* Header*/

header {
    background-color: #16232d;
    height: 100px;
}
header .flex {
    display: flex;
    justify-content: space-between;
}

.img{
   height: 100px;
   width: 100px;
   background-size: cover;}

nav ul {
    list-style: none;
    font-size: 0;
    padding: 0;
    margin-left: 60px;
    margin-right: 10px;
    line-height: 80px;
}

nav ul li {
    align-content: flex-end;
    display: flex;
    display: inline;
    line-height: 52px;
}

nav ul li a {
    color: var(--app-grey);
    font-weight: 600;
    font-size: 20px;
    text-decoration: none;
    position: relative;
    letter-spacing: 0.2px;
    line-height: 100px;
    text-transform: uppercase;
  
}

nav ul li a::after {
    color: #4c66c4d2;
    content: '';
    width: 0;
    height: 3px;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translate(-50%);
    background: var(--app-blue-hover);
    transition: width 0.3s;
}

nav ul li a:hover::after {
 width: 50%;
}
nav ul li+li {
    margin-left: 20px;
}

/* HERO BANNER */

#hero {
  height: 60vh;
  background-attachment: fixed;
  /* background-image: url(https://images.unsplash.com/photo-1522071820081-009f0129c71c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTN8fHNlcnZpY2UlMjBjb21wYW55fGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=400&q=60); */
  background-color: #192a36;
  background-size: contain;
  background-repeat: no-repeat;
}
.hero-banner {
  display: flex;
  justify-content: center;
  padding: 5% 20px 10%;
  filter: grayscale(10%);
}

.name {
  font-size: 40px;
  font-weight: 600;
  line-height: 35px;
  padding-bottom: 10px;
}

.title1 {
  color: #ff8001;
  letter-spacing: 2px;
  font-size: 16px;
  text-align: center;
  padding-top: 5%;
}
.title2 {
  color: #fff;

  font-size: 40px;
  font-weight: bold;
}
.introduce {
  color: #caccce;
  padding-bottom: 10px;
  line-height: 1.5;
  font-size: 17px;
}

.button {
  padding: 12px 17px;
  border-radius: 5px;
  border: 0;
  font-weight: bold;
  background-color: #fff;
  font-size: 100%;
  letter-spacing: 0.5px;
  margin-top: 5px;
}
.button:hover {
  background-color: var(--app-red-hover);
}

.page3 {
  background-color: #16232d;
  padding-top: 5%;
}
.page4 {
  background-color: #192a36;
  padding-top: 5%;
}
.page3-box {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 20px 0;
}
.page3-img {
  max-width: 540px;
  width: 100%;
}
.information {
  flex: 1;
  padding-left: 70px;
}
button.learn-more {
  background-color: #fff;
  color: #292b2c;
}
.info-title {
  color: var(--app-red);
  font-size: 30px;
  font-weight: bold;
}
.info-all {
  color: #fff;
  margin-bottom: 20px;
  line-height: 1.4;
  font-size: 17px;
}

@media (max-width: 840px) {
  .information {
    padding-left: 0;
    text-align: center;
  }
  .page3-box {
    justify-content: center;
  }
}
