@import url(./reset.css);

.container {
  width: min(100% - 30px, 1080px);
  margin-inline: auto;
}

/* HERO BANNER */

#hero {
  height: 60vh;
  background-attachment: fixed;
  background-image: url(https://images.unsplash.com/photo-1522071820081-009f0129c71c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTN8fHNlcnZpY2UlMjBjb21wYW55fGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=400&q=60);
  background-size: contain;
  background-repeat: no-repeat;
}
.hero-banner {
  display: flex;
  justify-content: center;
  padding: 5% 20px 10%;
  filter: grayscale(10%);
}

.name {
  font-size: 30px;
  font-weight: 600;
  line-height: 35px;
  padding-bottom: 10px;
}

.title1 {
  color: #ff8001;
  letter-spacing: 2px;
  font-size: 16px;
  text-align: center;
  padding-top: 5%;
}
.title2 {
  color: #fff;

  font-size: 40px;
  font-weight: bold;
}
.introduce {
  color: #caccce;
  padding-bottom: 10px;
  line-height: 1.5;
  font-size: 17px;
}

.button {
  padding: 12px 17px;
  border-radius: 5px;
  border: 0;

  font-weight: bold;
  background-color: #fff;
  font-size: 100%;
  letter-spacing: 0.5px;
  margin-top: 5px;
}
.button:hover {
  background-color: red;
}

.page3 {
  background-color: #16232d;
  padding-top: 5%;
}
.page4 {
  background-color: #192a36;
  padding-top: 5%;
}
.page3-box {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 20px 0;
}
.page3-img {
  max-width: 540px;
  width: 100%;
}
.information {
  flex: 1;
  padding-left: 70px;
}
button.learn-more {
  background-color: #fff;
  color: #292b2c;
}
.info-title {
  color: #fff;
  font-size: 30px;
  font-weight: bold;
}
.info-all {
  color: #fff;
  margin-bottom: 20px;
  line-height: 1.4;
  font-size: 17px;
}

@media (max-width: 840px) {
  .information {
    padding-left: 0;
    text-align: center;
  }
  .page3-box {
    justify-content: center;
  }
}
